<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esa Kesti</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <style>
        /* Apply margins specifically to the main content area */
        .main-content {
            margin-right: 150px;
            margin-left: 150px;
        }
    </style>
</head>
<body>

    <!-- Banner Image -->
    <div id="bannerimage"></div>

   <!-- Navigation Bar -->
   <nav>
    <ul class="menu">
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('professional_timeline') }}">Professional Timeline</a></li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Tools</a>
            <div class="dropdown-content">
                <a href="{{ url_for('gonogo') }}">GoNoGo</a>
            </div>
        </li>
        <li><a href="{{ url_for('contact_me') }}">Contact</a></li>
    </ul>
</nav>

<div class="centered-form">
    <form method="POST">
        <input type="text" name="user_input" required placeholder="Enter your input">
        <input type="submit" value="Submit">
    </form>
</div>
</body>
</html>


