<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Website</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <div id="bannerimage"></div>
    <nav>
        <ul class="menu">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('professional_timeline') }}">Professional Timeline</a></li>
            <li><a href="#">Apps</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
    <style>
        .profile-image {
            float: left;
            margin-right: 20px; 
            max-width: 460px; /* Set max-width to control the size */
            height: auto; /* Maintain aspect ratio */
            border-radius: 10px; /* Optional: Add some styling */
        }
    </style>
   <!-- Hero Section -->
<header class="hero">
    <div class="container">
        <p>
            <img src="{{ url_for('static', filename='optimized_image.jpeg') }}" alt="Esa Kesti" class="profile-image">
            Hi there! I’m Esa Kesti, a dedicated Tier 3 Enterprise Customer Support Engineer at Apple. With over eight years of hands-on experience in providing cutting-edge technical support and crafting bespoke solutions for enterprise environments, I specialize in Python development, CoreOS, and comprehensive network engineering. As a Master’s degree holder in Information Technology and a certified expert in Python, AI, and networking, I excel in mentoring teams, working in innovative projects, and solving complex challenges in diverse, multicultural settings.
        </p>
    </div>
</header>

<!-- Content Section -->
<section class="content">
    <div class="container">
        <h3>About Me</h3>
        <p>Throughout my career, I've honed my skills in delivering exceptional technical solutions and fostering team growth. I'm passionate about technology and thrive in diverse, multilingual environments, always striving to push the boundaries of innovation and excellence.</p>
    </div>
</section>

    <!-- Footer -->
    <footer>
        <div class="container">
            <p>&copy; 2024 Your Website. All rights reserved.</p>
        </div>
    </footer>

    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
