<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esa Kesti</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>
<body>

    <!-- Banner Image -->
    <div id="bannerimage"></div>

    <!-- Navigation Bar -->
    <nav>
        <ul class="menu">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('professional_timeline') }}">Professional Timeline</a></li>
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">Tools</a>
                <div class="dropdown-content">
                    <a href="{{ url_for('gonogo') }}">GoNoGo</a>
                </div>
            </li>
            <li><a href="{{ url_for('contact_me') }}">Contact</a></li>
        </ul>
    </nav>

    <!-- Hero Section with Profile -->
    <header class="hero">
        <div class="container">
            <img src="{{ url_for('static', filename='optimized_image.jpeg') }}" alt="Profile image of Esa Kesti" class="profile-image">
            <h1>Hi there!</h1>
            <p>I'm Esa, a dedicated Tier 3 Enterprise Customer Support Engineer at Apple. With over eight years of hands-on experience, I specialize in providing cutting-edge technical support for enterprise and education customers.</p>
        </div>
    </header>

    <!-- About Me Section -->
    <section class="content">
        <div class="container">
            <h3>About Me</h3>
            <p>Throughout my career, I’ve been passionate about driving innovation through technical excellence. I focus on delivering robust, high-impact technical support to enterprise customers while fostering a collaborative environment that enables team growth. Whether it's mentoring teams, working on innovative projects, or navigating complex enterprise architectures, I thrive in environments that push boundaries and continuously evolve.</p>
            <p>When I'm not working, I enjoy spending quality time with my family. My partner and I love exploring new places with our children, creating memories while traveling and experiencing the world. Balancing family life with a demanding career is important to me, and I strive to make time for both my personal and professional growth.</p>
            <p>I’m also a tech enthusiast, passionate about exploring new tools and trends, and I dedicate time to mentoring aspiring IT professionals. I believe in sharing my knowledge to help others grow in their careers.</p>

        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="container">
            <p>&copy; 2024 Esa Kesti. All rights reserved.</p>
        </div>
    </footer>

    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
