<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esa Kesti</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <style>
        /* Apply margins specifically to the main content area */
        .main-content {
            margin-right: 150px;
            margin-left: 150px;
        }
    </style>
</head>
<body>

    <!-- Banner Image -->
    <div id="bannerimage"></div>

   <!-- Navigation Bar -->
   <nav>
    <ul class="menu">
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('professional_timeline') }}">Professional Timeline</a></li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Tools</a>
            <div class="dropdown-content">
                <a href="{{ url_for('gonogo') }}">GoNoGo</a>
            </div>
        </li>
        <li><a href="{{ url_for('contact_me') }}">Contact</a></li>
    </ul>
</nav>

    <!-- Professional Timeline -->
    <section class="main-content">
        <!-- Experience Item 1 -->
        <article class="experience-item">
            <header class="experience-header">
                <span class="experience-dates">2016 — Now</span>
            </header>
            <h3 class="experience-subtitle">Tier 3 Enterprise Technical Support Engineer</h3>
            <h4 class="experience-company">Apple</h4>

            <p class="experience-description">
                - Delivered advanced technical assistance to Apple Care Enterprise customers, deploying Apple products and integrating them with market solutions.<br>
                - Led the CoreOS subject matter expert group in EMEA, facilitating knowledge sharing and problem-solving sessions. <br>
                - Mentored new hires and rotations, enhancing team capability.<br>
                - Provided scripting support and suggestions, automating repetitive tasks and increasing team efficiency.<br>
                - Conducted in-depth root cause analysis using specific methodologies, resolving issues within SLA. <br>
                - Performed comprehensive log analysis using specific tools, identifying critical issues and improving troubleshooting accuracy.<br>
                - Troubleshot SSO solutions, reducing authentication issues through effective problem-solving techniques.<br>
                - Troubleshot and resolved enterprise network issues (Wi-Fi, VPN, 802.1X).<br>
                - Supported device management via MDM solutions (JAMF, AirWatch, Mobileiron), streamlining device configuration and deployment processes. <br>
                - Supported cross-platform integration of iOS, iPadOS, macOS, tvOS and WatchOS devices in Enterprise environments, enhancing system compatibility and user experience.<br>
                - Participated in beta testing new releases, providing feedback to the engineering team to ensure product quality and reliability.
            </p>

            <div class="skills-list">
                <span class="skill-badge">Python</span>
                <span class="skill-badge">Log analysis</span>
                <span class="skill-badge">Technical troubleshooting</span>
                <!-- More skills here -->
            </div>
        </article>

        <!-- Experience Item 2 -->
        <article class="experience-item">
            <header class="experience-header">
                <span class="experience-dates">2016 — 2016</span>
            </header>
            <h3 class="experience-subtitle">Technical Support Analyst</h3>
            <h4 class="experience-company">HCL Technologies</h4>

            <p class="experience-description">
                - 1st line technical support.<br>
                - Providing world class technical support in three languages finnish, swedish and english<br>
                - Solving customers technical problems via phone, ticketing system, email and chat<br>
                - Critical incident management<br>
                - Helped setup a brand new HelpDesk for new customers<br>
            </p>

            <div class="skills-list">
                <span class="skill-badge">Log analysis</span>
                <span class="skill-badge">Technical troubleshooting</span>
                <span class="skill-badge">Customer support</span>
                <!-- More skills here -->
            </div>
        </article>

        <!-- Experience Item 3 -->
        <article class="experience-item">
            <header class="experience-header">
                <span class="experience-dates">2010 — 2013</span>
            </header>
            <h3 class="experience-subtitle">System Analyst</h3>
            <h4 class="experience-company">Internal ICT Security Agency (HALTIK)</h4>

            <p class="experience-description">
                - Provided timely and effective communication to resolve user issues and build strong interpersonal relationships<br>
                - Delivered exceptional customer service by addressing technical inquiries and resolving issues<br>
                - Diagnosed and troubleshooted hardware and software issues for end-users<br>
                - Supported and maintained various operating systems including Windows, macOS, and Linux<br>
                - Assisted users by configuring and troubleshooting basic networking problems (TCP/IP, DNS, DHCP)<br>
                - Installed, configured, and supported common software applications such as MS Office and email clients<br>
                - Managed and resolved user requests and incidents via ticketing systems like ServiceNow and Jira<br>
                - Prioritized and handled multiple support requests while adhering to strict deadlines<br>
                - Followed and adhered to standard operating procedures (SOPs) for troubleshooting and support<br>
                - Implemented basic cybersecurity practices to protect user data and system integrity<br>
                - Provided remote desktop support and resolved technical issues for users across various locations<br>
                - Documented technical solutions and steps in knowledge bases for future reference<br>

            </p>

            <div class="skills-list">
                <span class="skill-badge">Technical Support</span>
                <span class="skill-badge">Problem-Solving</span>
                <span class="skill-badge">Incident Management</span>
                <!-- More skills here -->
            </div>
        </article>
    </section>

    <!-- Footer -->
    <footer>
        <p>&copy; 2024 Esa Kesti. All rights reserved.</p>
    </footer>

</body>
</html>
